
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  scroll-behavior: smooth;
}



html{
  font-size: 62.5%;

}

body{
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  
}
.nav-content{
  margin: 0 auto; 
  max-width: 2000px; 
}

.allContainer{
  margin: 0 auto; 
  max-width: 2000px; 
}
.section{
  padding: 0 7rem;
}


.gradient{
background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(23,51,78,1) 40%, rgba(110,171,209,1) 100%);
}



.home-bg{
  background-image: linear-gradient(to right, #17334E 70%, #6EABD1 30%);
}


.heading-line::after{
content: "";
display: block;
position: relative;
height: 2px;
width: 10%;
background-color:#6EABD1;
top: 0px;
margin-left:20px;
}

.about-img:hover{
 filter: saturate(0);
}

.shaDow{
  box-shadow: 1px 20px 21px -22px rgba(0,0,0,1);
-webkit-box-shadow: 1px 20px 21px -22px rgba(0,0,0,1);
-moz-box-shadow: 1px 20px 21px -22px rgba(0,0,0,1);
border: 1px solid #6EABD1 ;
}

.btn{
  border-left: 3px solid #204161;
}

.btn:hover{
  background-color: #1b3c5a;
  color: #6EABD1;
}


.status{
  border-left: 3px solid  #6EABD1 ;
}

.bullet::before{
  content: "▹";
  position:absolute;
  left: 0px;
  color: #6EABD1;
}



@media only screen and (max-width: 1024px) {
  
  .home-bg{
    background: #17334E;
 }
}


@media only screen and (max-width: 768px) {
    
  .home-bg{
    background: #17334E;
 }

  .section{
    padding: 0 4rem;
  }
}




@media only screen and (max-width: 640px) {
 
  .section{
    padding: 0 3rem;
  }

  .btn{
    border-left: none;
    border-bottom: 3px solid #204161;
    display: flex;
    justify-content: center;
  }

  .status{
    border-bottom: 3px solid  #6EABD1 ;
  }

  .btn:hover{
    border-left: none;
    background-color: #1b3c5a;
    color: #6EABD1;
    /* border-bottom: 3px solid  #6EABD1 ; */
  }
  .test{
    background-image: url(./assets/homebg.png);
    background-position:right;
    background-size: cover;

  }
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 55.5%;
  }
  
}



@tailwind base;
@tailwind components;
@tailwind utilities;